.propertiesPanel {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 260px;
  width: 380px;
  background-color: #f8f8f8;
  z-index: 10;
  margin-top: 55px;
  border-left: 1px solid #ccc;
  overflow: auto;
  padding: 16px;

  :global {
    .ant-divider-with-text-left {
      margin: 6px 0;
      .ant-divider-inner-text {
        color: #999;
        font-size: 14px;
      }
    }
  }
}

